In [1]:
import requests
import pandas as pd
from datetime import datetime

In [2]:

# Toronto Open Data is stored in a CKAN instance. It's APIs are documented here:
# https://docs.ckan.org/en/latest/api/

# To hit our API, you'll be making requests to:
base_url = "https://ckan0.cf.opendata.inter.prod-toronto.ca"

# Datasets are called "packages". Each package can contain many "resources"
# To retrieve the metadata for this package and its resources, use the package name in this page's URL:
url = base_url + "/api/3/action/package_show"
params = {"id": "daily-shelter-overnight-service-occupancy-capacity"}
package = requests.get(url, params = params).json()

In [3]:
f'Package success: {package["success"]}'

'Package success: True'

In [4]:
print(f'Number of resources: {package["result"]["num_resources"]}\n')
for idx, resource in enumerate(package["result"]["resources"]):
    print(f'{idx}: {resource["name"]}\n**Active: {resource["datastore_active"]}\n')

Number of resources: 16

0: Daily shelter overnight occupancy
**Active: True

1: daily-shelter-overnight-service-occupancy-capacity-2023
**Active: True

2: daily-shelter-overnight-service-occupancy-capacity-2022
**Active: True

3: daily-shelter-overnight-service-occupancy-capacity-2021
**Active: True

4: Daily shelter overnight occupancy.csv
**Active: False

5: Daily shelter overnight occupancy.xml
**Active: False

6: Daily shelter overnight occupancy.json
**Active: False

7: daily-shelter-overnight-service-occupancy-capacity-2022.csv
**Active: False

8: daily-shelter-overnight-service-occupancy-capacity-2022.xml
**Active: False

9: daily-shelter-overnight-service-occupancy-capacity-2022.json
**Active: False

10: daily-shelter-overnight-service-occupancy-capacity-2021.csv
**Active: False

11: daily-shelter-overnight-service-occupancy-capacity-2021.xml
**Active: False

12: daily-shelter-overnight-service-occupancy-capacity-2021.json
**Active: False

13: daily-shelter-overnight-service-occupancy-capacity-2023.csv
**Active: False

14: daily-shelter-overnight-service-occupancy-capacity-2023.xml
**Active: False

15: daily-shelter-overnight-service-occupancy-capacity-2023.json
**Active: False

In [6]:

# To get resource data:
for idx, resource in enumerate(package["result"]["resources"]):
    # To get data from cached csv:
    if idx == 4:
        if not resource["datastore_active"] and resource['format']=='CSV':
            print(f'**getting data from cached csv**')
            print(f'\t{resource["url"]}')
            df = pd.read_csv(resource["url"])

df.head()

**getting data from cached csv**
	https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/21c83b32-d5a8-4106-a54f-010dbe49f6f2/resource/ffd20867-6e3c-4074-8427-d63810edf231/download/daily-shelter-overnight-occupancy.csv

,_id,OCCUPANCY_DATE,ORGANIZATION_ID,ORGANIZATION_NAME,SHELTER_ID,SHELTER_GROUP,LOCATION_ID,LOCATION_NAME,LOCATION_ADDRESS,LOCATION_POSTAL_CODE,...,OCCUPIED_BEDS,UNOCCUPIED_BEDS,UNAVAILABLE_BEDS,CAPACITY_ACTUAL_ROOM,CAPACITY_FUNDING_ROOM,OCCUPIED_ROOMS,UNOCCUPIED_ROOMS,UNAVAILABLE_ROOMS,OCCUPANCY_RATE_BEDS,OCCUPANCY_RATE_ROOMS
0,1,2024-01-01,24,COSTI Immigrant Services,40,COSTI Reception Centre,1320,COSTI Hotel Program Dixon,640 Dixon Rd.,M9W 1J1,...,NaN,NaN,NaN,149.0,150.0,149.0,0.0,1.0,NaN,100.0
1,2,2024-01-01,24,COSTI Immigrant Services,40,COSTI Reception Centre,1320,COSTI Hotel Program Dixon,640 Dixon Rd.,M9W 1J1,...,NaN,NaN,NaN,57.0,57.0,57.0,0.0,0.0,NaN,100.0
2,3,2024-01-01,24,COSTI Immigrant Services,40,COSTI Reception Centre,1051,COSTI Reception Centre,100 Lippincott St,M5S 2P1,...,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,100.0,NaN
3,4,2024-01-01,24,COSTI Immigrant Services,40,COSTI Reception Centre,1114,COSTI Uptown Hotel Program,55 Hallcrown Pl,M2J 4R1,...,NaN,NaN,NaN,67.0,83.0,67.0,0.0,16.0,NaN,100.0
4,5,2024-01-01,24,COSTI Immigrant Services,40,COSTI Reception Centre,1114,COSTI Uptown Hotel Program,55 Hallcrown Pl,M2J 4R1,...,NaN,NaN,NaN,161.0,148.0,161.0,0.0,0.0,NaN,100.0

In [15]:
pd.set_option('display.max_columns', None)

In [16]:
df.head()

,_id,OCCUPANCY_DATE,ORGANIZATION_ID,ORGANIZATION_NAME,SHELTER_ID,SHELTER_GROUP,LOCATION_ID,LOCATION_NAME,LOCATION_ADDRESS,LOCATION_POSTAL_CODE,LOCATION_CITY,LOCATION_PROVINCE,PROGRAM_ID,PROGRAM_NAME,SECTOR,PROGRAM_MODEL,OVERNIGHT_SERVICE_TYPE,PROGRAM_AREA,SERVICE_USER_COUNT,CAPACITY_TYPE,CAPACITY_ACTUAL_BED,CAPACITY_FUNDING_BED,OCCUPIED_BEDS,UNOCCUPIED_BEDS,UNAVAILABLE_BEDS,CAPACITY_ACTUAL_ROOM,CAPACITY_FUNDING_ROOM,OCCUPIED_ROOMS,UNOCCUPIED_ROOMS,UNAVAILABLE_ROOMS,OCCUPANCY_RATE_BEDS,OCCUPANCY_RATE_ROOMS
0,1,2024-01-01,24,COSTI Immigrant Services,40,COSTI Reception Centre,1320,COSTI Hotel Program Dixon,640 Dixon Rd.,M9W 1J1,Toronto,ON,16892,COSTI - Hotel Program - Dixon (Refugee Families),Families,Emergency,Motel/Hotel Shelter,Temporary Refugee Response,650,Room Based Capacity,NaN,NaN,NaN,NaN,NaN,149.0,150.0,149.0,0.0,1.0,NaN,100.0
1,2,2024-01-01,24,COSTI Immigrant Services,40,COSTI Reception Centre,1320,COSTI Hotel Program Dixon,640 Dixon Rd.,M9W 1J1,Toronto,ON,16891,COSTI - Hotel Program - Dixon (Refugee Singles),Mixed Adult,Emergency,Motel/Hotel Shelter,Temporary Refugee Response,113,Room Based Capacity,NaN,NaN,NaN,NaN,NaN,57.0,57.0,57.0,0.0,0.0,NaN,100.0
2,3,2024-01-01,24,COSTI Immigrant Services,40,COSTI Reception Centre,1051,COSTI Reception Centre,100 Lippincott St,M5S 2P1,Toronto,ON,12251,COSTI Reception Centre CITY Program,Mixed Adult,Emergency,Shelter,Base Program - Refugee,8,Bed Based Capacity,8.0,8.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,100.0,NaN
3,4,2024-01-01,24,COSTI Immigrant Services,40,COSTI Reception Centre,1114,COSTI Uptown Hotel Program,55 Hallcrown Pl,M2J 4R1,North York,ON,15372,COSTI Uptown Hotel COVID-19 - Family Program,Families,Emergency,Motel/Hotel Shelter,Temporary Programs,203,Room Based Capacity,NaN,NaN,NaN,NaN,NaN,67.0,83.0,67.0,0.0,16.0,NaN,100.0
4,5,2024-01-01,24,COSTI Immigrant Services,40,COSTI Reception Centre,1114,COSTI Uptown Hotel Program,55 Hallcrown Pl,M2J 4R1,North York,ON,13751,COSTI Uptown Hotel Family Program,Families,Emergency,Motel/Hotel Shelter,Temporary Refugee Response,508,Room Based Capacity,NaN,NaN,NaN,NaN,NaN,161.0,148.0,161.0,0.0,0.0,NaN,100.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26599 entries, 0 to 26598
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     26599 non-null  int64
 1   OCCUPANCY_DATE          26599 non-null  object
 2   ORGANIZATION_ID         26599 non-null  int64
 3   ORGANIZATION_NAME       26599 non-null  object
 4   SHELTER_ID              26599 non-null  int64
 5   SHELTER_GROUP           26599 non-null  object
 6   LOCATION_ID             26599 non-null  int64
 7   LOCATION_NAME           26400 non-null  object
 8   LOCATION_ADDRESS        25406 non-null  object
 9   LOCATION_POSTAL_CODE    25406 non-null  object
 10  LOCATION_CITY           25392 non-null  object
 11  LOCATION_PROVINCE       25392 non-null  object
 12  PROGRAM_ID              26599 non-null  int64
 13  PROGRAM_NAME            26599 non-null  object
 14  SECTOR                  26599 non-null  object
 15  PROGRAM_MODEL           26599 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  26599 non-null  object
 17  PROGRAM_AREA            26599 non-null  object
 18  SERVICE_USER_COUNT      26599 non-null  int64
 19  CAPACITY_TYPE           26599 non-null  object
 20  CAPACITY_ACTUAL_BED     19029 non-null  float64
 21  CAPACITY_FUNDING_BED    19029 non-null  float64
 22  OCCUPIED_BEDS           19029 non-null  float64
 23  UNOCCUPIED_BEDS         19029 non-null  float64
 24  UNAVAILABLE_BEDS        19029 non-null  float64
 25  CAPACITY_ACTUAL_ROOM    7570 non-null   float64
 26  CAPACITY_FUNDING_ROOM   7570 non-null   float64
 27  OCCUPIED_ROOMS          7570 non-null   float64
 28  UNOCCUPIED_ROOMS        7570 non-null   float64
 29  UNAVAILABLE_ROOMS       7570 non-null   float64
 30  OCCUPANCY_RATE_BEDS     19029 non-null  float64
 31  OCCUPANCY_RATE_ROOMS    7570 non-null   float64
dtypes: float64(12), int64(6), object(14)
memory usage: 6.5+ MB

In [11]:
df.describe()

,_id,ORGANIZATION_ID,SHELTER_ID,LOCATION_ID,PROGRAM_ID,SERVICE_USER_COUNT,CAPACITY_ACTUAL_BED,CAPACITY_FUNDING_BED,OCCUPIED_BEDS,UNOCCUPIED_BEDS,UNAVAILABLE_BEDS,CAPACITY_ACTUAL_ROOM,CAPACITY_FUNDING_ROOM,OCCUPIED_ROOMS,UNOCCUPIED_ROOMS,UNAVAILABLE_ROOMS,OCCUPANCY_RATE_BEDS,OCCUPANCY_RATE_ROOMS
count,26599.000000,26599.000000,26599.000000,26599.000000,26599.000000,26599.000000,19029.000000,19029.000000,19029.000000,19029.000000,19029.000000,7570.000000,7570.000000,7570.000000,7570.000000,7570.000000,19029.000000,7570.000000
mean,13300.000000,14.061055,38.074928,1119.604346,14394.969848,73.508403,48.695255,49.550318,48.274686,0.420569,0.855063,75.926156,77.798679,75.677543,0.248613,4.004888,98.104483,99.541218
std,7678.614241,11.181518,25.773614,112.689666,2133.893124,91.335052,43.831297,44.094307,43.953332,1.416649,4.863203,68.370492,70.442503,68.411022,0.888269,10.817837,6.282087,1.688808
min,1.000000,1.000000,1.000000,1001.000000,11791.000000,1.000000,1.000000,2.000000,1.000000,0.000000,-1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,16.670000,66.670000
25%,6650.500000,5.000000,18.000000,1037.000000,12252.000000,28.000000,24.000000,25.000000,24.000000,0.000000,0.000000,31.000000,30.000000,31.000000,0.000000,0.000000,100.000000,100.000000
50%,13300.000000,14.000000,36.000000,1103.000000,14572.000000,47.000000,37.000000,37.000000,36.000000,0.000000,0.000000,55.000000,57.000000,55.000000,0.000000,0.000000,100.000000,100.000000
75%,19949.500000,24.000000,57.000000,1154.000000,16351.000000,85.000000,64.000000,66.000000,63.000000,0.000000,0.000000,83.000000,103.000000,82.000000,0.000000,2.000000,100.000000,100.000000
max,26599.000000,44.000000,98.000000,1601.000000,18151.000000,660.000000,278.000000,278.000000,278.000000,40.000000,139.000000,329.000000,334.000000,329.000000,10.000000,81.000000,100.000000,100.000000

In [10]:
# Update saved csv
df.to_csv(
    'Daily shelter overnight occupancy.csv',
    header=True,
    index=False
)