In [1]:
import sys
sys.path.append('../..')

from common.toronto_api import TorontoOpenDataAPI
from common.data_processors import FerryDataProcessor

In [2]:
# Initialize API client and get package metadata using id
metadata = TorontoOpenDataAPI('toronto-island-ferry-ticket-counts')

In [3]:
# Get data from first listed resource, which is the active datastore
df = metadata.get_resource_data()
# Process data: add boolean columns, parse datetime
df = FerryDataProcessor.process_resource(df)
df.head()

,_id,Timestamp,Redemption Count,Sales Count,is_weekend,is_today,is_latest
0,1,2025-05-12 17:45:00,1,1,False,True,True
1,2,2025-05-12 17:30:00,101,66,False,True,True
2,3,2025-05-12 17:15:00,46,53,False,True,True
3,4,2025-05-12 17:00:00,54,58,False,True,True
4,5,2025-05-12 16:45:00,84,66,False,True,True

In [4]:
# Update csv data
df.to_csv(
    '../data/processed/ferry_ticket_data.csv',
    header=True,
    index=False
)


---